variables:
  namePrefix:  ${{ replace(variables['Build.SourceBranchName'],'@','-') }}

  ${{ if not(contains(variables['Build.SourceBranchName'], 'release@')) }}:
    version: '1.0.0-alpha$(Build.BuildId)'
  ${{ if contains(variables['Build.SourceBranchName'], 'release@') }}:
    version: ${{ replace(variables['Build.SourceBranchName'],'release@','') }}
    
  vmImage: 'ubuntu-latest'
  buildConfiguration: 'Release'
  projectName: 'Southport.Messaging.Email.Core'